@use 'govuk-base' as govuk;
@use 'helpers/index';

a {
  cursor: pointer;
  color: govuk.$govuk-link-colour;
}

div {
  overflow-wrap: break-word;
}

.initial-class {
  white-space: nowrap;
}

.cell-ellipsis-single-line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cell-ellipsis-multi-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.pre-line {
  white-space: pre-line;
}

@media print {
  .cell-ellipsis-single-line {
    overflow: visible;
    white-space: normal;
    text-overflow: unset;
  }
  .cell-ellipsis-multi-line {
    overflow: visible;
    white-space: normal;
    text-overflow: unset;
    display: block;
    -webkit-box-orient: unset;
  }
}
