<netz-feedback-banner />
<netz-page-heading size="xl">Manage verifier users</netz-page-heading>
<govuk-tabs (selectedTab)="handleSelectedTab($event)">
  <ng-template govukTabLazy id="details" label="Details">
    <h2 class="govuk-heading-m">Details</h2>
    <mrtm-verification-body-summary [summaryInfo]="verificationBodyDetails()" [editable]="false" />
  </ng-template>
  <ng-template govukTab id="verifier-users" label="Verifier users">
    <h2 class="govuk-heading-m">Verifier users</h2>
    <mrtm-verifier-users-list
      (discardChanges)="onDiscardChanges()"
      (saveChanges)="onSave($event)"
      [authorities]="authorities$"
      [editable]="verifiersEditable$ | async" />
  </ng-template>
  <ng-template govukTab id="site-contacts" label="Site contacts">
    <h2 class="govuk-heading-m">Site contacts</h2>
    <mrtm-site-contacts />
  </ng-template>
  <ng-template govukTabLazy id="data-supplier" label="Data supplier">
    <mrtm-data-supplier />
  </ng-template>
</govuk-tabs>
