@if (formMode() === 'NEW') {
  <div
    formControlName="imoNumber"
    govuk-text-input
    label="Company IMO number"
    hint="Must be 7 digits long"
    widthClass="govuk-!-width-one-third"></div>
}
<div formControlName="name" govuk-text-input label="Operator name" widthClass="govuk-!-width-two-thirds"></div>
@if (formMode() === 'EDIT') {
  <div formControlName="sopId" govuk-text-input label="SOP ID (optional)" widthClass="govuk-!-width-one-third"></div>
}
<mrtm-location-state-form legendLabel="Contact address" />
<div
  formControlName="firstMaritimeActivityDate"
  govuk-date-input
  label="First year of reporting obligation"
  hint="The first year of reporting obligation will be recorded in the UK Registry and <br />represents the first year of emissions within the scope of UK ETS"
  labelSize="small"></div>

@if (formMode() === 'EDIT') {
  <div
    formControlName="reason"
    govuk-textarea
    label="Reason for updating operator details"
    labelSize="small"
    [maxLength]="10000"
    widthClass="govuk-!-width-one-third"></div>
}
