<h2 class="govuk-heading-m">Site contacts</h2>
<mrtm-site-contacts-filter />
@if (isEditable()) {
  <form (ngSubmit)="onSave()" [formGroup]="form">
    <govuk-table [columns]="columns" [data]="tableData()" formArrayName="siteContacts">
      <ng-template let-column="column" let-index="index" let-row="row">
        <ng-container [formGroupName]="index">
          @switch (column.field) {
            @case ('user') {
              <div
                label="Select assignee"
                [isLabelHidden]="true"
                [options]="assigneeOptions()"
                formControlName="userId"
                govuk-select
                widthClass="govuk-!-width-full"></div>
            }
            @default {
              {{ row[column.field] }}
            }
          }
        </ng-container>
      </ng-template>
    </govuk-table>
    <ng-container *ngTemplateOutlet="pagination" />
    <div class="govuk-button-group">
      <button netzPendingButton govukButton type="submit" class="govuk-!-margin-top-3">Save</button>
      <button govukSecondaryButton type="button" (click)="onRefresh()">Discard changes</button>
    </div>
  </form>
} @else {
  <govuk-table id="site-contacts" [columns]="columns" [data]="tableData()">
    <ng-template let-column="column" let-row="row">
      @switch (column.field) {
        @case ('user') {
          {{ row[column.field] ? (row[column.field] | userFullName) : 'Unassigned' }}
        }
        @default {
          {{ row[column.field] }}
        }
      }
    </ng-template>
  </govuk-table>
  <ng-container *ngTemplateOutlet="pagination" />
}

<ng-template #pagination>
  <govuk-pagination
    fragment="site-contacts"
    (currentPageChange)="page.set($event)"
    [count]="count()"
    [pageSize]="pageSize" />
</ng-template>
