<netz-page-heading [caption]="map.title">Check your answers</netz-page-heading>
<h2 class="govuk-heading-m">Evidence for a virtual site visit application</h2>
<mrtm-site-visit-summary-template [isEditable]="isEditable()" [model]="siteVisitSummary()" [wizardStep]="wizardStep" />

@if (isEditable() && !isSubtaskCompleted()) {
  <button (click)="onSubmit()" netzPendingButton govukButton type="button">Confirm and complete</button>
}

<div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
  <netz-return-to-task-or-action-page />
</div>
