<netz-feedback-banner />
<netz-page-heading
  [caption]="
    !aggregatedData()?.fromFetch ? `${wizardMap.annualAggregatedEmissions.caption} ${ship()?.details?.name}` : undefined
  ">
  @if (aggregatedData()?.fromFetch || aggregatedData()?.dataInputType === 'EXTERNAL_PROVIDER') {
    Aggregated data for {{ ship()?.details?.name }}
  } @else {
    Check your answers
  }
</netz-page-heading>
@if (aggregatedData()?.dataInputType === 'EXTERNAL_PROVIDER') {
  <div class="govuk-inset-text">Data imported from external system cannot be edited.</div>
}
@if (warningMessages()?.length) {
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      @for (warningMessage of warningMessages(); track warningMessage) {
        <govuk-warning-text [assistiveText]="warningMessage" />
      }
    </div>
  </div>
}
<mrtm-aer-aggregated-data-ship-summary-template
  [editable]="editable()"
  [aggregatedData]="aggregatedData()"
  [ship]="ship()" />

@if (canSubmit()) {
  <button (click)="onSubmit()" govukButton netzPendingButton type="button">Confirm and continue</button>
}

<div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
  <a govukLink [routerLink]="isAddNewAggregatedData ? ['../../'] : ['../']">Return to: {{ wizardMap.title }}</a>
</div>
