@if (vm(); as vm) {
  @if (vm.pageTopComponent; as pageTopComponent) {
    <ng-container *ngComponentOutlet="pageTopComponent" />
  }

  <div class="govuk-grid-row">
    <div [class]="vm.hasSidebar ? 'govuk-grid-column-two-thirds' : 'govuk-grid-column-full'">
      <netz-page-heading [size]="vm.headerSize ?? 'l'">
        {{ vm.header }}

        @if (vm.postHeaderComponent; as postHeaderComponent) {
          <ng-container *ngComponentOutlet="postHeaderComponent" />
        }

        @if (vm.requestTask; as rt) {
          <netz-task-header-info
            [assignee]="rt.assigneeFullName"
            [daysRemaining]="rt.daysRemaining"
            [requestId]="vm.requestId"
            [taskType]="rt.type" />
        }
      </netz-page-heading>
      @if (vm.preContentComponents; as preContentComponents) {
        @for (preContentComponent of preContentComponents; track preContentComponent) {
          <ng-container *ngComponentOutlet="preContentComponent" />
        }
      }

      @if (vm.contentComponent; as component) {
        <ng-container *ngComponentOutlet="component" />
      } @else {
        <netz-task-list [sections]="vm.sections" />
      }

      @if (vm.postContentComponent; as postContentComponent) {
        <ng-container *ngComponentOutlet="postContentComponent" />
      }

      @if (vm.hasRelatedTasks) {
        <netz-related-tasks [items]="vm.relatedTasks" />
      }

      @if (vm.hasTimeline) {
        <netz-timeline>
          @for (timelineEntry of vm.timeline; track timelineEntry) {
            <netz-timeline-item
              [action]="timelineEntry"
              [requestId]="vm.requestId"
              [link]="['timeline', timelineEntry.id]" />
          }
        </netz-timeline>
      }
    </div>

    @if (vm.hasSidebar) {
      <div class="govuk-grid-column-one-third">
        <netz-related-actions
          [allowedRequestTaskActions]="vm.relatedActions"
          [showReassignAction]="vm.showAssignAction"
          [previewDocuments]="vm.previewDocuments"
          [previewAsyncDocuments]="vm.previewAsyncDocuments"
          [taskId]="vm.requestTask.id"
          [requestTaskType]="vm.requestTask?.type" />
      </div>
    }
  </div>
}
