<netz-feedback-banner [preventResetOnNavigation]="true" />
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <netz-page-heading [caption]="wizardMap.caption">{{ wizardMap.title }}</netz-page-heading>
    <p class="govuk-body">{{ wizardMap.description }}</p>
  </div>
  @if (editable()) {
    <div class="govuk-grid-column-one-third govuk-!-text-align-right">
      <mrtm-dropdown-button-group label="Add aggregated data">
        <mrtm-dropdown-button-item (click)="onAddAggregatedData()">Add aggregated data</mrtm-dropdown-button-item>
        <mrtm-dropdown-button-item [routerLink]="['../', wizardStep.UPLOAD_AGGREGATED_DATA]">
          Upload file
        </mrtm-dropdown-button-item>
        @if (canFetchFromPortsAndVoyages()) {
          <mrtm-dropdown-button-item [routerLink]="['../', wizardStep.FETCH_FROM_VOYAGES_AND_PORTS]">
            Import from voyages and ports
          </mrtm-dropdown-button-item>
        }
      </mrtm-dropdown-button-group>
    </div>
  }
</div>

@if (editable()) {
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <mrtm-filter-by-ship
        class="govuk-!-margin-top-7"
        [ships]="shipsWithAggregatedData()"
        [initialFilterState]="$any(this.currentPersistableComponentState()?.activeFilters ?? null)"
        filterByShipLabel="Find aggregated per ship"
        (filterChanged)="onFilterChanged($event)" />
    </div>
  </div>
}

<h2 class="govuk-heading-m">{{ aggregatedDataListHeader() }}</h2>
@for (warningMessage of warningMessages(); track $index) {
  <govuk-warning-text [assistiveText]="warningMessage" [bottomSpacing]="$last ? 7 : 0" />
}
@if (hasExternalSystemData()) {
  <div class="govuk-inset-text">Data imported from external system cannot be edited.</div>
}
<mrtm-aggregated-data-list-summary-template
  [data]="filteredAggregatedDataList()"
  (deleteItems)="onDelete($event)"
  [editable]="editable()"
  [dataSupplierName]="thirdPartyDataProviderName()" />

@if (canContinue()) {
  <button type="button" govukButton netzPendingButton (click)="onContinue()">Continue</button>
}

<div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
  <netz-return-to-task-or-action-page />
</div>
