<div class="moj-multi-file-upload moj-multi-file-upload--enhanced">
  @if (showFileUploadList()) {
    <mrtm-file-upload-list
      (fileDelete)="onFileDeleteClick()"
      [files]="uploadedFiles$ | async"
      [isDisabled]="isDisabled"
      [listTitle]="listTitle()"
      [headerSize]="currentHeaderSize()"
      [showNoFilesHint]="showNoFilesHint()" />
  }

  <label
    [for]="identifier"
    [id]="`l.${identifier}`"
    [class]="currentLabelSize()"
    [class.govuk-visually-hidden]="isLabelHidden()">
    {{ label() }}
  </label>

  @if (text()) {
    <span class="govuk-body">{{ text() }}</span>
  }
  @if (showFilesizeHint()) {
    <div [id]="`${identifier}-hint-file-size`" class="govuk-hint">
      Your document must be a DOC, DOCX, XLS, XLSX, PPT, PPTX, VSD, VSDX, JPG, JPEG, PDF, PNG, TIF, TXT, DIB, BMP or CSV
      file, no more than 20MB.
    </div>
  }
  @if (hint()) {
    <div [id]="`${identifier}-hint`" class="govuk-hint" [innerHTML]="hint() | safeHtml"></div>
  }
  @if (shouldDisplayErrors$ | async) {
    <govuk-error-message [errors]="control.errors" [identifier]="identifier" />
  }
  <input
    #input
    (blur)="onFileBlur()"
    (change)="onFileChange($event)"
    [accept]="accepted()"
    [class.govuk-file-upload--error]="shouldDisplayErrors$ | async"
    [disabled]="isDisabled"
    [id]="identifier"
    [name]="identifier"
    class="govuk-file-upload"
    type="file" />
</div>
