<h2 class="govuk-heading-m">Maritime Operator details</h2>
<dl govuk-summary-list>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Company IMO Number</dt>
    <dd
      govukSummaryListRowValue
      htmlDiff
      [current]="operatorDetails()?.imoNumber"
      [previous]="originalOperatorDetails()?.imoNumber"></dd>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Operator name</dt>
    <dd
      govukSummaryListRowValue
      htmlDiff
      [current]="operatorDetails()?.operatorName"
      [previous]="originalOperatorDetails()?.operatorName"></dd>
    @if (isEditable()) {
      <dd govukSummaryListRowActions>
        <a govukLink [routerLink]="[wizardStep().OPERATOR_DETAILS_OPERATOR_FORM]" [queryParams]="queryParams()">
          Change
          <span class="govuk-visually-hidden">operator name</span>
        </a>
      </dd>
    }
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Contact address</dt>
    <dd govukSummaryListRowValue>
      <div
        htmlDiff
        [current]="operatorDetails()?.contactAddress?.line1"
        [previous]="originalOperatorDetails()?.contactAddress?.line1"></div>
      <div
        htmlDiff
        [current]="operatorDetails()?.contactAddress?.line2"
        [previous]="originalOperatorDetails()?.contactAddress?.line2"></div>
      <div
        htmlDiff
        [current]="operatorDetails()?.contactAddress?.city"
        [previous]="originalOperatorDetails()?.contactAddress?.city"></div>
      <div
        htmlDiff
        [current]="operatorDetails()?.contactAddress?.state"
        [previous]="originalOperatorDetails()?.contactAddress?.state"></div>
      <div
        htmlDiff
        [current]="operatorDetails()?.contactAddress?.postcode"
        [previous]="originalOperatorDetails()?.contactAddress?.postcode"></div>
      <div
        htmlDiff
        [current]="
          operatorDetails()?.contactAddress?.country
            ? (operatorDetails()?.contactAddress?.country | country)
            : undefined
        "
        [previous]="
          originalOperatorDetails()?.contactAddress?.country
            ? (originalOperatorDetails()?.contactAddress?.country | country)
            : undefined
        "></div>
    </dd>
    @if (isEditable()) {
      <dd govukSummaryListRowActions>
        <a govukLink [routerLink]="[wizardStep().OPERATOR_DETAILS_OPERATOR_FORM]" [queryParams]="queryParams()">
          Change
          <span class="govuk-visually-hidden">contact address</span>
        </a>
      </dd>
    }
  </div>
</dl>

@if ($any(operatorDetails())?.activityDescription) {
  <h2 class="govuk-heading-m">Describe the activities carried out by the Maritime Operator</h2>
  <dl govuk-summary-list>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Description</dt>
      <dd
        govukSummaryListRowValue
        class="pre-wrap"
        htmlDiff
        [current]="$any(operatorDetails())?.activityDescription"
        [previous]="$any(originalOperatorDetails())?.activityDescription"></dd>
      @if (isEditable()) {
        <dd govukSummaryListRowActions>
          <a
            govukLink
            [routerLink]="[wizardStep().OPERATOR_DETAILS_UNDERTAKEN_ACTIVITIES]"
            [queryParams]="queryParams()">
            Change
            <span class="govuk-visually-hidden">description of activities carried out by the Maritime Operator</span>
          </a>
        </dd>
      }
    </div>
  </dl>
}

@if (operatorDetails()?.organisationStructure) {
  @let legalStatusType = operatorDetails()?.organisationStructure?.legalStatusType;
  <h2 class="govuk-heading-m">Organisation details</h2>
  <dl govuk-summary-list>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Organisation legal status</dt>
      <dd
        govukSummaryListRowValue
        htmlDiff
        [current]="legalStatusType | legalStatusTypeDisplayText"
        [previous]="
          originalOperatorDetails()?.organisationStructure?.legalStatusType | legalStatusTypeDisplayText
        "></dd>
      @if (isEditable()) {
        <dd govukSummaryListRowActions>
          <a
            govukLink
            [routerLink]="[wizardStep().OPERATOR_DETAILS_LEGAL_STATUS_OF_ORGANISATION]"
            [queryParams]="queryParams()">
            Change
            <span class="govuk-visually-hidden">organisation legal status</span>
          </a>
        </dd>
      }
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>
        {{ legalStatusType | organisationStructureTitle }}
      </dt>
      @switch (legalStatusType) {
        @case ('INDIVIDUAL') {
          <dd
            govukSummaryListRowValue
            htmlDiff
            [current]="$any(operatorDetails()?.organisationStructure)?.fullName"
            [previous]="$any(originalOperatorDetails()?.organisationStructure)?.fullName"></dd>
        }
        @case ('LIMITED_COMPANY') {
          <dd
            govukSummaryListRowValue
            htmlDiff
            [current]="$any(operatorDetails()?.organisationStructure)?.registrationNumber"
            [previous]="$any(originalOperatorDetails()?.organisationStructure)?.registrationNumber"></dd>
        }
        @case ('PARTNERSHIP') {
          <dd
            govukSummaryListRowValue
            htmlDiff
            [current]="$any(operatorDetails()?.organisationStructure)?.partnershipName"
            [previous]="$any(originalOperatorDetails()?.organisationStructure)?.partnershipName"></dd>
        }
        @default {
          <dt govukSummaryListRowKey><span class="govuk-hint">Not provided</span></dt>
          <dd govukSummaryListRowValue><span class="govuk-hint">Not provided</span></dd>
        }
      }
      @if (isEditable()) {
        <dd govukSummaryListRowActions>
          <a
            govukLink
            [routerLink]="[wizardStep().OPERATOR_DETAILS_ORGANISATION_DETAILS]"
            [queryParams]="queryParams()">
            Change
            <span class="govuk-visually-hidden">
              {{ legalStatusType | organisationStructureTitle | lowercase }}
            </span>
          </a>
        </dd>
      }
    </div>
    <div govukSummaryListRow>
      <dt
        govukSummaryListRowKey
        htmlDiff
        [current]="legalStatusType | organisationDetailsAddressTitle"
        [previous]="
          originalOperatorDetails()?.organisationStructure?.legalStatusType | organisationDetailsAddressTitle
        "></dt>
      <dd govukSummaryListRowValue>
        <div
          htmlDiff
          [current]="operatorDetails()?.organisationStructure?.registeredAddress?.line1"
          [previous]="originalOperatorDetails()?.organisationStructure?.registeredAddress?.line1"></div>
        <div
          htmlDiff
          [current]="operatorDetails()?.organisationStructure?.registeredAddress?.line2"
          [previous]="originalOperatorDetails()?.organisationStructure?.registeredAddress?.line2"></div>
        <div
          htmlDiff
          [current]="operatorDetails()?.organisationStructure?.registeredAddress?.city"
          [previous]="originalOperatorDetails()?.organisationStructure?.registeredAddress?.city"></div>
        <div
          htmlDiff
          [current]="operatorDetails()?.organisationStructure?.registeredAddress?.state"
          [previous]="originalOperatorDetails()?.organisationStructure?.registeredAddress?.state"></div>
        <div
          htmlDiff
          [current]="operatorDetails()?.organisationStructure?.registeredAddress?.postcode"
          [previous]="originalOperatorDetails()?.organisationStructure?.registeredAddress?.postcode"></div>
        <div
          htmlDiff
          [current]="
            operatorDetails()?.organisationStructure?.registeredAddress?.country
              ? (operatorDetails()?.organisationStructure?.registeredAddress?.country | country)
              : undefined
          "
          [previous]="
            originalOperatorDetails()?.organisationStructure?.registeredAddress?.country
              ? (originalOperatorDetails()?.organisationStructure?.registeredAddress?.country | country)
              : undefined
          "></div>
      </dd>
      @if (isEditable()) {
        <dd govukSummaryListRowActions>
          <a
            govukLink
            [routerLink]="[wizardStep().OPERATOR_DETAILS_ORGANISATION_DETAILS]"
            [queryParams]="queryParams()">
            Change
            <span class="govuk-visually-hidden">
              {{ legalStatusType | organisationDetailsAddressTitle | lowercase }}
            </span>
          </a>
        </dd>
      }
    </div>
    @if (legalStatusType !== 'INDIVIDUAL') {
      <div govukSummaryListRow>
        @if (legalStatusType === 'PARTNERSHIP') {
          <dt govukSummaryListRowKey>List the partners</dt>
          <dd govukSummaryListRowValue>
            @if (combinedPartners()?.length > 0) {
              @for (partner of combinedPartners(); track partner) {
                <div
                  htmlDiff
                  current="{{ $index + 1 }}. {{ partner.current }}"
                  previous="{{ $index + 1 }}. {{ partner.previous }}"></div>
              }
            }
          </dd>
        } @else if (legalStatusType === 'LIMITED_COMPANY') {
          <dt govukSummaryListRowKey>Upload proof of registered address</dt>
          <dd govukSummaryListRowValue>
            <mrtm-summary-download-files [files]="files()" [originalFiles]="originalFiles()" />
          </dd>
        }

        @if (isEditable()) {
          <dd govukSummaryListRowActions>
            <a
              govukLink
              [routerLink]="[wizardStep().OPERATOR_DETAILS_ORGANISATION_DETAILS]"
              [queryParams]="queryParams()">
              Change
              <span class="govuk-visually-hidden">upload proof of registered address</span>
            </a>
          </dd>
        }
      </div>
    }
  </dl>
}
