<h2 class="govuk-heading-m">Decision details</h2>
<dl govuk-summary-list>
  @if (isPermittedUser()) {
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Decision status</dt>
      <dd [notProvided]="reviewDecision()?.type | reviewDecisionType" govukSummaryListRowValue></dd>
      @if (isEditable()) {
        <dd govukSummaryListRowActions>
          <a govukLink [routerLink]="changeLink()" [queryParams]="queryParams()">Change</a>
        </dd>
      }
    </div>
  }
  @if (!isPermittedUser() || reviewDecision()?.details?.variationScheduleItems?.length > 0) {
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Changes added to the variation schedule</dt>
      <dd govukSummaryListRowValue class="pre-wrap">
        @if (reviewDecision()?.details?.variationScheduleItems?.length) {
          <ul class="govuk-list govuk-list--number">
            @for (change of reviewDecision()?.details?.variationScheduleItems; track change) {
              <li>{{ change }}</li>
            }
          </ul>
        } @else {
          <span class="govuk-hint">Not provided</span>
        }
      </dd>
      @if (isEditable()) {
        <dd govukSummaryListRowActions>
          <a govukLink [routerLink]="changeLink()" [queryParams]="queryParams()">Change</a>
        </dd>
      }
    </div>
  }
  @if (isPermittedUser()) {
    @if (reviewDecision()?.details?.requiredChanges?.length > 0) {
      <div govukSummaryListRow>
        <dt govukSummaryListRowKey>Changes required by operator</dt>
        <dd govukSummaryListRowValue class="pre-wrap">
          <ul class="govuk-list govuk-list--number">
            @for (change of reviewDecision()?.details?.requiredChanges; track change) {
              <li>
                {{ change?.reason }}
                <br />
                @if (change?.files?.length > 0) {
                  <br />
                  <mrtm-summary-download-files [files]="change?.files" />
                }
              </li>
            }
          </ul>
        </dd>
        @if (isEditable()) {
          <dd govukSummaryListRowActions>
            <a govukLink [routerLink]="changeLink()" [queryParams]="queryParams()">Change</a>
          </dd>
        }
      </div>
    }

    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Notes</dt>
      <dd govukSummaryListRowValue class="pre-wrap" [notProvided]="reviewDecision()?.details?.notes"></dd>
      @if (isEditable()) {
        <dd govukSummaryListRowActions>
          <a govukLink [routerLink]="changeLink()" [queryParams]="queryParams()">Change</a>
        </dd>
      }
    </div>
    @if (withOverallDecision()) {
      <div govukSummaryListRow>
        <dt govukSummaryListRowKey>Overall decision</dt>
        <dd govukSummaryListRowValue class="pre-wrap" [notProvided]="reviewDecision()?.details?.summary"></dd>
        @if (isEditable()) {
          <dd govukSummaryListRowActions>
            <a govukLink [routerLink]="changeLink()" [queryParams]="queryParams()">Change</a>
          </dd>
        }
      </div>
    }
  }
</dl>
