<mrtm-service-banner />

@if (vm(); as vm) {
  @if (!vm.isLoggedIn) {
    <div class="govuk-grid-row govuk-!-margin-bottom-9">
      <div class="govuk-grid-column-two-thirds">
        <netz-page-heading>Maritime</netz-page-heading>

        <div class="govuk-body">
          <h2 class="govuk-heading-s">I already have a sign in</h2>
          <p>You'll need your password and two-factor authentication app to sign in to the service.</p>

          <a class="govuk-button govuk-button--start" routerLink="." (click)="authService.login()" draggable="false">
            Sign in
            <img
              class="govuk-button__start-icon"
              ngSrc="./assets/images/start-button-arrow.svg"
              alt=""
              height="19"
              width="18" />
          </a>
        </div>
      </div>
    </div>

    <mrtm-back-to-top />
  } @else {
    @if (vm.roleType) {
      @switch (vm.status) {
        @case ('NO_AUTHORITY') {
          <ng-container [ngTemplateOutlet]="apply" />
        }
        @case ('ENABLED') {
          <ng-container [ngTemplateOutlet]="apply" />
        }
        @case ('DISABLED') {
          @switch (vm.roleType) {
            @case ('OPERATOR') {
              <ng-container [ngTemplateOutlet]="apply" />
            }
            @default {
              <ng-container [ngTemplateOutlet]="userDisabled" />
            }
          }
        }
        @case ('ACCEPTED') {
          <ng-container [ngTemplateOutlet]="userActivation" />
        }
        @case ('TEMP_DISABLED') {
          <ng-container [ngTemplateOutlet]="userTempDisabled" />
        }
        @default {
          <!-- NO_ROLE_TYPE cannot occur here: this branch is already guarded by a truthy vm.roleType. -->
        }
      }
    } @else {
      <netz-page-heading>
        You need to create a sign in or
        <a govukLink href="/contact-us">contact your regulator or administrator</a>
        to create a sign in for you.
      </netz-page-heading>
      <a
        class="govuk-button govuk-button--secondary govuk-button--start"
        routerLink="."
        (click)="authService.logout()"
        draggable="false">
        Sign out
        <img
          class="govuk-button__start-icon"
          ngSrc="./assets/images/start-button-arrow.svg"
          alt=""
          height="19"
          width="18" />
      </a>
    }
  }

  <ng-template #userDisabled>
    <netz-page-heading>
      Your user account has been disabled. Please contact your admin to gain access to your account.
    </netz-page-heading>
  </ng-template>

  <ng-template #userActivation>
    <netz-page-heading>Your user account needs to be activated.</netz-page-heading>

    <p class="govuk-body">
      Your user account must be activated before you can sign in to the Manage your UK Emissions Trading Scheme
      reporting service.
    </p>

    <p class="govuk-body">
      If your account was created by your regulator, they will now activate your account. You'll receive an email once
      your account has been activated.
      <a govukLink href="/contact-us">Contact your regulator</a>
      if your account has not been activated after 2 working days.
    </p>
  </ng-template>

  <ng-template #userTempDisabled>
    <netz-page-heading>The Verification body your user account belongs to is disabled.</netz-page-heading>
  </ng-template>

  <ng-template #apply>
    <netz-page-heading>
      Your user account has been disabled. Please contact your admin to gain access to your account.
    </netz-page-heading>
  </ng-template>
}
