@if ((confirmedAddedRegulator$ | async) === null) {
  @if (isSummaryDisplayed$ | async) {
    <govuk-error-summary [form]="form" />
  }
  <netz-page-heading [caption]="(userId$ | async) ? 'Edit regulator user' : 'Add a new regulator user'">
    {{ (userId$ | async) ? 'Edit user details' : 'Enter user details' }}
  </netz-page-heading>
  <form (ngSubmit)="submitForm()" [formGroup]="form">
    <div formGroupName="user">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <fieldset govukFieldset id="name">
            <legend govukLegend legendSize="medium">Name</legend>
            <div
              autoComplete="given-name"
              formControlName="firstName"
              govuk-text-input
              label="First name"
              widthClass="govuk-!-width-two-thirds"></div>
            <div
              autoComplete="family-name"
              class="govuk-!-margin-bottom-8"
              formControlName="lastName"
              govuk-text-input
              label="Last name"
              widthClass="govuk-!-width-two-thirds"></div>
            <div
              autoComplete="organisation-title"
              formControlName="jobTitle"
              govuk-text-input
              label="Job title"
              widthClass="govuk-!-width-two-thirds"></div>
            <div
              autoComplete="email"
              formControlName="email"
              govuk-text-input
              hint="All system alerts, notices and official communications<br />will always be sent by email."
              label="Email address"
              widthClass="govuk-!-width-two-thirds"></div>
          </fieldset>
          <fieldset govukFieldset id="phoneNumber">
            <legend govukLegend legendSize="medium">Phone number</legend>
            <div
              autoComplete="tel-national"
              formControlName="phoneNumber"
              govuk-text-input
              label="Telephone number"
              hint="You must include the country code"
              widthClass="govuk-!-width-one-third"></div>
            <div
              autoComplete="mobile tel-national"
              class="govuk-!-margin-bottom-8"
              formControlName="mobileNumber"
              govuk-text-input
              label="Mobile number (optional)"
              hint="You must include the country code"
              widthClass="govuk-!-width-one-third"></div>
          </fieldset>
          <h2 class="govuk-heading-m">Files uploaded</h2>
          <span class="govuk-hint">
            The file must be:
            <ul>
              <li>a BMP file</li>
              <li>no more than 240 x 140 pixels</li>
              <li>no more than 200KB</li>
            </ul>
          </span>
          <h2 class="govuk-heading-m">Upload a file</h2>
          <mrtm-file-input
            [downloadUrl]="(isLoggedUser$ | async) ? getCurrentUserDownloadUrl : getDownloadUrl"
            [showFilesizeHint]="false"
            formControlName="signature"
            label="Signature" />
        </div>
      </div>
    </div>
    @if (allowEditPermissions$ | async; as permissions) {
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m">Set base permissions</h2>
          <div class="govuk-button-group">
            <button
              (click)="setBasePermissions('regulator_admin_team')"
              [attr.aria-pressed]="basePermissionSelected === 'regulator_admin_team'"
              govukSecondaryButton
              id="regulator_admin_team"
              type="button">
              Admin team
            </button>
            <button
              (click)="setBasePermissions('regulator_technical_officer')"
              [attr.aria-pressed]="basePermissionSelected === 'regulator_technical_officer'"
              govukSecondaryButton
              id="regulator_technical_officer"
              type="button">
              Technical officer
            </button>
            <button
              (click)="setBasePermissions('regulator_team_leader')"
              [attr.aria-pressed]="basePermissionSelected === 'regulator_team_leader'"
              govukSecondaryButton
              id="regulator_team_leader"
              type="button">
              Team leader
            </button>
            <button
              (click)="setBasePermissions('ca_super_user')"
              [attr.aria-pressed]="basePermissionSelected === 'ca_super_user'"
              govukSecondaryButton
              id="ca_super_user"
              type="button">
              Regulator superuser
            </button>
            <button
              (click)="setBasePermissions('service_super_user')"
              [attr.aria-pressed]="basePermissionSelected === 'service_super_user'"
              govukSecondaryButton
              id="service_super_user"
              type="button">
              Service superuser
            </button>
          </div>
        </div>
      </div>
    }
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Customise Permissions</h2>
        <div formGroupName="permissions">
          <govuk-table [columns]="tableColumns" [data]="tableRows">
            <ng-template let-column="column" let-row="row">
              @if (column.field === 'task' || column.field === 'type') {
                {{ row[column.field] }}
              }
              @if (allowEditPermissions$ | async) {
                @if (permissionGroups$ | async; as permissionGroups) {
                  @if (permissionGroups[row.permission] | includes: column.field) {
                    <div
                      mrtm-radio-option
                      [formControlName]="row.permission"
                      [index]="column.field"
                      [value]="column.field">
                      <ng-container label>
                        <span class="govuk-visually-hidden">{{ column.header }}</span>
                      </ng-container>
                    </div>
                  }
                }
              } @else {
                @if (userPermissions$ | async; as userPermissions) {
                  @if (userPermissions[row.permission] === column.field) {
                    <div [id]="`check-${row.permission}-${column.field}`">
                      <strong>&#10004;</strong>
                    </div>
                  }
                }
              }
            </ng-template>
          </govuk-table>
        </div>
      </div>
    </div>
    @if (isLoggedUser$ | async) {
      <mrtm-two-fa-link [link]="['2fa', 'change']" title="Change two factor authentication" />
    } @else {
      @if ((allowEditPermissions$ | async) && (userId$ | async)) {
        <mrtm-two-fa-link
          [link]="['2fa', 'reset-2fa']"
          role="REGULATOR"
          title="Reset two-factor authentication"
          [userId]="userId$ | async"
          [userName]="userFullName" />
      }
    }
    <button govukButton netzPendingButton type="submit">
      {{ userId$ | async | submitIfEmpty }}
    </button>
  </form>
} @else {
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <govuk-panel>An account confirmation email has been sent to {{ confirmedAddedRegulator$ | async }}</govuk-panel>
      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">The new user will be able to log in once they confirm their account</p>
    </div>
  </div>
}
