@if (vm$ | async; as vm) {
  <netz-feedback-banner [preventResetOnNavigation]="true" />
  <netz-page-heading size="xl">Accounts</netz-page-heading>
  <mrtm-accounts-list-filters />

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <mrtm-accounts-list id="accounts-list" [accounts]="vm.accounts" (sort)="onSort($event)" />
      @if (vm.total > vm.pageSize) {
        <govuk-pagination
          fragment="accounts-list"
          [count]="vm.total"
          (currentPageChange)="onPageChange($event)"
          [pageSize]="vm.pageSize" />
      }
    </div>
  </div>
}
