@use 'govuk-base' as govuk;

// Custom colour required for passing WCAG 2.2 AA contrast text/background and
// background/surrounding
$moj-datepicker-mid-grey: #949494;

@mixin moj-datepicker-button {
  position: relative;
  width: 44px;
  height: 40px;
  margin: 0;
  padding: 0;
  border-width: 0;
  outline: 2px solid rgba(0, 0, 0, 0);
  outline-offset: -2px;
  color: govuk.$govuk-text-colour;
  background-color: transparent;
  @include govuk.govuk-font(16);

  @include govuk.govuk-media-query($until: tablet) {
    width: 32px;
    height: 30px;
    font-size: govuk.govuk-px-to-rem(14);
  }

  svg {
    @include govuk.govuk-media-query($until: tablet) {
      width: 32px;
      height: 30px;
    }
  }
  @media (forced-colors: active) {
    // Don't show the bottom bar in forced-color modes as it blocks the outline
    &::after {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: transparent;

    @include govuk.govuk-media-query($until: tablet) {
      height: 2px;
    }
  }

  &[aria-disabled="true"],
  &[aria-disabled="true"]:hover {
    color: govuk.$govuk-text-colour;
    background-color: govuk.govuk-colour("black", $variant: "tint-95");
    text-decoration: line-through;
    cursor: not-allowed;
  }

  &:hover {
    color: govuk.$govuk-text-colour;
    background-color: $moj-datepicker-mid-grey;
    text-decoration: none;
    box-decoration-break: clone;
    cursor: pointer;
  }

  &:focus {
    outline-color: transparent;
    color: govuk.$govuk-text-colour;
    background-color: govuk.$govuk-focus-colour;
    box-decoration-break: clone;

    &::after {
      background-color: govuk.$govuk-text-colour;
    }
  }

  &:focus:hover {
    outline-color: govuk.$govuk-focus-colour;
    background-color: $moj-datepicker-mid-grey;

    &::after {
      background-color: transparent;
    }
  }

  &--current:not(:focus) {
    outline-color: govuk.$govuk-link-colour;
    color: govuk.govuk-colour("white");
    background-color: govuk.$govuk-link-colour;

    &::after {
      background-color: govuk.$govuk-link-colour;
    }
  }

  &--current[tabindex="-1"] {
    outline-color: transparent;
    color: currentcolor;
    background: transparent;

    &::after {
      background-color: transparent;
    }
  }

  &--today {
    border: 2px solid govuk.$govuk-text-colour;
  }

  &--selected:not(:focus) {
    color: govuk.govuk-colour("white");
    background-color: govuk.$govuk-link-colour;

    &::after {
      background-color: govuk.$govuk-link-colour;
    }

    &:hover {
      outline-color: govuk.$govuk-link-colour;
      color: govuk.$govuk-text-colour;
      background-color: $moj-datepicker-mid-grey;

      &::after {
        background-color: transparent;
      }
    }
  }
}
