@use 'govuk-base' as govuk;
@use 'datepicker-button' as dpButton;

// Custom colour required for passing WCAG 2.2 AA contrast text/background and
// background/surrounding
$moj-datepicker-mid-grey: #949494;

:host {
  position: relative;
  @include govuk.govuk-font(16);
}

.moj-datepicker__dialog {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  min-width: 280px;
  transition: background-color 0.2s,
  outline-color 0.2s;
  outline: 2px solid govuk.$govuk-text-colour;
  outline-offset: -2px;
  background-color: govuk.govuk-colour("white");
  padding: govuk.govuk-spacing(4);

  @include govuk.govuk-media-query($until: tablet) {
    min-width: auto;
    padding: govuk.govuk-spacing(1);
  }
}

.moj-datepicker__dialog--open {
  display: block;
}

.moj-datepicker__dialog-header {
  display: flex;
  position: relative;
  margin-bottom: govuk.govuk-spacing(2);
  align-items: center;
  justify-content: space-between;
}

.moj-datepicker__dialog-title {
  margin-top: 0;
  margin-bottom: 0;
  @include govuk.govuk-font(16, bold);

  @include govuk.govuk-media-query($until: tablet) {
    font-size: govuk.govuk-px-to-rem(14);
  }
}

.moj-datepicker__dialog-navbuttons {
  display: flex;
  align-items: center;
}

.moj-datepicker__calendar {
  margin-bottom: govuk.govuk-spacing(4);
  border-collapse: collapse;

  tbody:focus-within {
    outline: 2px solid govuk.$govuk-focus-colour;
  }

  td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
  }

  th {
    color: govuk.$govuk-text-colour;
    @include govuk.govuk-font(16, bold);

    @include govuk.govuk-media-query($until: tablet) {
      font-size: govuk.govuk-px-to-rem(14);
    }
  }
}

.moj-datepicker__dialog > .govuk-button-group {
  margin-bottom: 0;

  > * {
    margin-bottom: 0;
  }
}

.moj-datepicker__button {
  @include dpButton.moj-datepicker-button;
}

/*
 Default input with to .govuk-input--width-10 (10 chars)
 Allow that to be overriden by the input width modifiers or global width overrides.
 Width classes less than 10ch not included as that is narrower than a date.
*/
// stylelint-disable selector-no-qualifying-type
.moj-datepicker input {
  max-width: 11.5em; // govuk-input--width-10

  &.govuk-input--width-30 {
    max-width: 29.5em;
  }

  &.govuk-input--width-20 {
    max-width: 20.5em;
  }

  &.govuk-\!-width-full {
    // stylelint-disable-next-line declaration-no-important
    width: 100% !important;
    max-width: none;
  }

  &.govuk-\!-width-three-quarters {
    // stylelint-disable-next-line declaration-no-important
    width: 100% !important;
    max-width: none;

    @include govuk.govuk-media-query($from: tablet) {
      // stylelint-disable-next-line declaration-no-important
      width: 75% !important;
    }
  }

  &.govuk-\!-width-two-thirds {
    // stylelint-disable-next-line declaration-no-important
    width: 100% !important;
    max-width: none;

    @include govuk.govuk-media-query($from: tablet) {
      // stylelint-disable-next-line declaration-no-important
      width: 66.66% !important;
    }
  }

  &.govuk-\!-width-one-half {
    // stylelint-disable-next-line declaration-no-important
    width: 100% !important;
    max-width: none;

    @include govuk.govuk-media-query($from: tablet) {
      // stylelint-disable-next-line declaration-no-important
      width: 50% !important;
    }
  }

  &.govuk-\!-width-one-third {
    // stylelint-disable-next-line declaration-no-important
    width: 100% !important;
    max-width: none;

    @include govuk.govuk-media-query($from: tablet) {
      // stylelint-disable-next-line declaration-no-important
      width: 33.33% !important;
    }
  }

  &.govuk-\!-width-one-quarter {
    // stylelint-disable-next-line declaration-no-important
    width: 100% !important;
    max-width: none;

    @include govuk.govuk-media-query($from: tablet) {
      // stylelint-disable-next-line declaration-no-important
      width: 25% !important;
    }
  }
}

// stylelint-enable selector-no-qualifying-type

.moj-datepicker__wrapper {
  position: relative;
}

@media (min-width: 768px) {
  .moj-datepicker__dialog {
    width: auto;
  }
}

.moj-datepicker__toggle {
  height: 40px;
  padding-top: 6px;
  border: none;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
  outline: 3px solid rgba(0, 0, 0, 0);
  outline-offset: -3px;
  color: govuk.govuk-colour("white");
  background-color: govuk.$govuk-text-colour;
  cursor: pointer;

  &:focus {
    border-bottom: 4px solid govuk.$govuk-text-colour;
    color: govuk.$govuk-text-colour;
    background-color: govuk.$govuk-focus-colour;
  }

  &:hover {
    border-bottom: 4px solid $moj-datepicker-mid-grey;
    color: govuk.$govuk-text-colour;
    background-color: $moj-datepicker-mid-grey;
  }

  &:focus:hover {
    border-bottom: 4px solid govuk.$govuk-text-colour;
    color: govuk.$govuk-text-colour;
    background-color: $moj-datepicker-mid-grey;
  }

  &[aria-disabled="true"],
  &[aria-disabled="true"]:hover {
    opacity: 0.5;
    text-decoration: line-through;
    cursor: not-allowed;
  }
}
