<label
  [class.govuk-visually-hidden]="!templateLabel() && isLabelHidden()"
  [for]="identifier"
  [id]="`l.${identifier}`"
  [class]="currentLabelSize()">
  @if (!templateLabel()) {
    {{ label() }}
  } @else {
    <ng-content select="[govukLabel]" />
  }
</label>
@if (hint()) {
  <div [id]="`${identifier}-hint`" class="govuk-hint" [innerHTML]="hint() | safeHtml"></div>
}
@if (shouldDisplayErrors) {
  <govuk-error-message [errors]="control.errors" [identifier]="identifier" />
}

<div class="moj-datepicker__wrapper">
  <div class="govuk-input__wrapper {{ widthClass() }}">
    <input
      #input
      (change)="onChange(getInputValue($event))"
      (blur)="onChange(getInputValue($event))"
      [attr.aria-describedby]="hint() ? `${identifier}-hint` : null"
      type="text"
      [id]="identifier"
      [name]="identifier"
      [formControl]="control"
      autocomplete="off"
      [class.govuk-input--error]="shouldDisplayErrors"
      class="govuk-input" />
    <button
      class="moj-datepicker__toggle moj-js-datepicker-toggle"
      type="button"
      aria-haspopup="dialog"
      [disabled]="disabled"
      [attr.aria-disabled]="disabled"
      [attr.aria-controls]="identifier"
      [attr.aria-expanded]="datePickerService.isDialogOpen()"
      (click)="datePickerService.toggleDialog($event)">
      <span class="govuk-visually-hidden">Choose date</span>
      <svg
        width="32"
        height="24"
        focusable="false"
        class="moj-datepicker-icon"
        aria-hidden="true"
        role="img"
        viewBox="0 0 22 22">
        <path
          fill="currentColor"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M16.1333 2.93333H5.86668V4.4C5.86668 5.21002 5.21003 5.86667 4.40002 5.86667C3.59 5.86667 2.93335 5.21002 2.93335 4.4V2.93333H2C0.895431 2.93333 0 3.82877 0 4.93334V19.2667C0 20.3712 0.89543 21.2667 2 21.2667H20C21.1046 21.2667 22 20.3712 22 19.2667V4.93333C22 3.82876 21.1046 2.93333 20 2.93333H19.0667V4.4C19.0667 5.21002 18.41 5.86667 17.6 5.86667C16.79 5.86667 16.1333 5.21002 16.1333 4.4V2.93333ZM20.5333 8.06667H1.46665V18.8C1.46665 19.3523 1.91436 19.8 2.46665 19.8H19.5333C20.0856 19.8 20.5333 19.3523 20.5333 18.8V8.06667Z" />
        <rect x="3.66669" width="1.46667" height="5.13333" rx="0.733333" fill="currentColor" />
        <rect x="16.8667" width="1.46667" height="5.13333" rx="0.733333" fill="currentColor" />
      </svg>
    </button>
  </div>

  <div
    class="moj-datepicker__dialog"
    role="dialog"
    aria-modal="true"
    [class.moj-datepicker__dialog--open]="datePickerService.isDialogOpen()"
    [hidden]="!datePickerService.isDialogOpen()"
    [attr.aria-labelledby]="titleId"
    (keydown)="onHandleEscape($event)">
    <div class="moj-datepicker__dialog-header">
      <div class="moj-datepicker__dialog-navbuttons">
        <button
          class="moj-datepicker__button moj-js-datepicker-prev-year"
          type="button"
          (click)="datePickerService.focusPreviousYear(false)">
          <span class="govuk-visually-hidden">Previous year</span>
          <svg width="44" height="40" viewBox="0 0 44 40" fill="none" focusable="false" aria-hidden="true" role="img">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M23.1643 20L28.9572 14.2071L27.5429 12.7929L20.3358 20L27.5429 27.2071L28.9572 25.7929L23.1643 20Z"
              fill="currentColor" />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M17.1643 20L22.9572 14.2071L21.5429 12.7929L14.3358 20L21.5429 27.2071L22.9572 25.7929L17.1643 20Z"
              fill="currentColor" />
          </svg>
        </button>

        <button
          class="moj-datepicker__button moj-js-datepicker-prev-month"
          type="button"
          (click)="datePickerService.focusPreviousMonth(false)">
          <span class="govuk-visually-hidden">Previous month</span>
          <svg width="44" height="40" viewBox="0 0 44 40" fill="none" focusable="false" aria-hidden="true" role="img">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M20.5729 20L25.7865 14.2071L24.5137 12.7929L18.0273 20L24.5137 27.2071L25.7865 25.7929L20.5729 20Z"
              fill="currentColor" />
          </svg>
        </button>
      </div>

      <h2 [id]="titleId" class="moj-datepicker__dialog-title moj-js-datepicker-month-year" aria-live="polite">
        {{ datePickerService.dialogTitle() }}
      </h2>

      <div class="moj-datepicker__dialog-navbuttons">
        <button
          class="moj-datepicker__button moj-js-datepicker-next-month"
          type="button"
          (click)="datePickerService.focusNextMonth(false)">
          <span class="govuk-visually-hidden">Next month</span>
          <svg width="44" height="40" viewBox="0 0 44 40" fill="none" focusable="false" aria-hidden="true" role="img">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M23.4271 20L18.2135 14.2071L19.4863 12.7929L25.9727 20L19.4863 27.2071L18.2135 25.7929L23.4271 20Z"
              fill="currentColor" />
          </svg>
        </button>

        <button
          class="moj-datepicker__button moj-js-datepicker-next-year"
          type="button"
          (click)="datePickerService.focusNextYear(false)">
          <span class="govuk-visually-hidden">Next year</span>
          <svg width="44" height="40" viewBox="0 0 44 40" fill="none" focusable="false" aria-hidden="true" role="img">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M20.8357 20L15.0428 14.2071L16.4571 12.7929L23.6642 20L16.4571 27.2071L15.0428 25.7929L20.8357 20Z"
              fill="currentColor" />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M26.8357 20L21.0428 14.2071L22.4571 12.7929L29.6642 20L22.4571 27.2071L21.0428 25.7929L26.8357 20Z"
              fill="currentColor" />
          </svg>
        </button>
      </div>
    </div>

    <table class="moj-datepicker__calendar moj-js-datepicker-grid" role="grid" [attr.aria-labelledby]="titleId">
      <thead>
        <tr>
          @for (dayLabel of datePickerService.dayLabels(); track $index) {
            <th scope="col">
              <span aria-hidden="true">{{ dayLabel | slice: 0 : 3 }}</span>
              <span class="govuk-visually-hidden">{{ dayLabel }}</span>
            </th>
          }
        </tr>
      </thead>
      <tbody>
        @for (calendarWeek of datePickerService.calendarDates() | datePickerChunk: 7; let w = $index; track w) {
          <tr>
            @for (calendarDate of calendarWeek; let d = $index; track d) {
              <td>
                <mrtm-date-picker-button
                  [calendarDate]="calendarDate"
                  (click)="onSelectDate(calendarDate, $event)"
                  (keydown)="datePickerService.onDateKeyPress($event)" />
              </td>
            }
          </tr>
        }
      </tbody>
    </table>

    <div class="govuk-button-group">
      <button type="button" class="govuk-button moj-js-datepicker-ok" (click)="onOkButtonClick($event)">Select</button>
      <button
        type="button"
        class="govuk-button govuk-button--secondary moj-js-datepicker-cancel"
        (click)="onCancelButtonClick($event)">
        Close
      </button>
    </div>
  </div>
</div>
