@if (availableTasks$ | async; as availableTasks) {
  <netz-page-heading>Start a new task</netz-page-heading>
  @for (task of availableTasks; track task; let last = $last) {
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">{{ task.title }}</h2>
        @if (!task.errors) {
          @if (task.routerLink) {
            <a [routerLink]="task.routerLink" govukButton type="button">{{ task.button }}</a>
          } @else {
            <button netzPendingButton govukButton (click)="onRequestButtonClick(task.type)" type="button">
              {{ task.button }}
            </button>
          }
        } @else {
          @switch (task.type) {
            @case ('SITE_VISIT') {
              <p class="govuk-body">You cannot start a virtual site visit application as either:</p>
              <ul class="govuk-list govuk-list--bullet">
                @for (error of task?.errors; track error) {
                  <li>{{ error }}</li>
                }
              </ul>
            }
            @default {
              <ul class="govuk-list">
                @for (error of task?.errors; track error) {
                  <li>{{ error }}</li>
                }
              </ul>
            }
          }
        }
      </div>
    </div>
    @if (!last) {
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
    }
  } @empty {
    <ul class="govuk-list">
      <li>There are no available processes to initiate.</li>
    </ul>
  }
}
