<netz-feedback-banner [preventResetOnNavigation]="true" />
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <netz-page-heading caption="Ports">{{ wizardMap.title }}</netz-page-heading>
    <p class="govuk-body">
      You can manually add or upload the details for ports and emissions.
      <br />
      To add another file, select Upload file.
    </p>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="govuk-button-group float-right">
      <a govukLink [routerLink]="['./add', randomUUID(), wizardStep.SELECT_SHIP]" govukSecondaryButton type="button">
        Add port call
      </a>
      <a govukLink govukSecondaryButton [routerLink]="['../', wizardStep.UPLOAD_PORTS]">Upload file</a>
    </div>
  </div>
</div>

@if (editable()) {
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <mrtm-filter-by-ship-and-date-range
        type="ports"
        [initialFilterState]="$any(this.currentPersistableComponentState()?.activeFilters ?? null)"
        [ships]="shipsWithPortCalls()"
        filterByShipLabel="View port calls per ship"
        (filterChanged)="onFilterChanged($event)" />
    </div>
  </div>
}

<mrtm-port-calls-list-summary-template
  [header]="portsListHeader()"
  [editable]="editable()"
  [data]="filteredPortCalls()"
  [emptyTableText]="emptyTableText()"
  [warningMessages]="warningMessages()"
  (deleteItems)="onDelete($event)" />

@if (canContinue()) {
  <button type="button" govukButton netzPendingButton (click)="onContinue()">Continue</button>
}

<div>
  @if (canContinue() || !filteredPortCalls()?.length) {
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
  }
  <netz-return-to-task-or-action-page />
</div>
