<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <govuk-panel [title]="actionMap?.successMessage" />
    @if (
      actionMap?.recallType === 'EMP' ||
      actionMap?.recallType === 'EMP_VARIATION' ||
      actionMap?.recallType === 'SITE_VISIT'
    ) {
      <p class="govuk-body">Their task list will show that you are deciding the result of the application.</p>
      <h4 class="govuk-heading-s">What happens next</h4>
      @if (actionMap?.recallType === 'EMP' || actionMap?.recallType === 'SITE_VISIT') {
        <p class="govuk-body">You can continue with your review of the application.</p>
      } @else {
        <p class="govuk-body">
          You can continue with the application review, and both your timelines will display this event.
        </p>
      }
    }
    @if (actionMap?.recallType === 'AER') {
      <h4 class="govuk-heading-s">What happens next</h4>
      <p class="govuk-body">You can continue with the report, and both your timelines will display this event.</p>
    }
  </div>
</div>
<div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
  <a govukLink routerLink="/dashboard">Return to: Dashboard</a>
</div>
