<h2 class="govuk-heading-m">External contacts</h2>

@if (isEditable$ | async) {
  <button (click)="router.navigate(['external-contacts', 'add'], { relativeTo: route })" govukButton type="button">
    Add an external contact
  </button>
}

<govuk-table
  (sort)="sorting$.next($event)"
  [columns]="(isEditable$ | async) ? editableColumns : nonEditableColumns"
  [data]="contacts$ | async">
  <ng-template let-column="column" let-row="row">
    @switch (column.field) {
      @case ('name') {
        @if (isEditable$ | async) {
          <a [routerLink]="['external-contacts', row.id]" govukLink>
            {{ row[column.field] }}
          </a>
        } @else {
          {{ row[column.field] }}
        }
      }
      @case ('email') {
        <a govukLink href="mailto:{{ row[column.field] }}">{{ row[column.field] }}</a>
      }
      @case (null) {
        <div class="govuk-!-text-align-right">
          <a [routerLink]="['external-contacts', row.id, 'delete']" govukLink>Delete</a>
        </div>
      }
      @default {
        {{ row[column.field] }}
      }
    }
  </ng-template>
</govuk-table>
