<netz-feedback-banner />
<netz-page-heading caption="New port call for {{ ship()?.details?.name }}">Check your answers</netz-page-heading>

<mrtm-port-call-summary-template [data]="port()" [editable]="editable()" />

@if (editable() && !isPortCompleted()) {
  <button (click)="onSubmit()" govukButton netzPendingButton type="button">Continue</button>
}

<div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
  <a [routerLink]="isAddNewPortCall ? ['../../'] : ['../']" govukLink>Return to: {{ wizardMap.title }}</a>
</div>
