@use 'govuk-frontend/dist/govuk/base' as govuk;

.hods-loading-spinner {
  &__spinner {
    margin-left: auto;
    margin-right: auto;
    border: calc(var(--spinner-size) * 0.15) solid govuk.govuk-colour("black", $variant: "tint-95");
    border-radius: 50%;
    border-top-color: govuk.govuk-colour("blue");
    width: var(--spinner-size);
    height: var(--spinner-size);
    -webkit-animation: hods-loading-spinner-animation 2s linear infinite;
    animation: hods-loading-spinner-animation 2s linear infinite;
  }

  &__content {
    text-align: center;
    @include govuk.govuk-responsive-padding(4, "top");
  }
}

@-webkit-keyframes hods-loading-spinner-animation {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes hods-loading-spinner-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
