<netz-feedback-banner />
<netz-page-heading [caption]="wizardMap.smfDetails.caption">{{ wizardMap.smfDetails.title }}</netz-page-heading>
<p class="govuk-body">The total CO2 emissions will be deducted from your voyages and ports emissions.</p>

@if (warningMessage(); as warningMessage) {
  <govuk-warning-text [assistiveText]="warningMessage" />
}

<mrtm-reduction-claim-details-summary-template
  [editable]="isEditable()"
  [data]="data()"
  [dataSupplierName]="thirdPartyDataProviderName()"
  (handleChange)="onChange($event)"
  (handleDelete)="onDelete($event)" />

@if (isEditable()) {
  @if (data()?.length) {
    <div class="govuk-body">
      <a govukSecondaryButton [routerLink]="['./', wizardStep.FUEL_PURCHASE]">Add another item</a>
    </div>
    <div class="govuk-body">
      <button govukButton (click)="onContinue()" type="button">Continue</button>
    </div>
  } @else {
    <a govukButton [routerLink]="['./', wizardStep.FUEL_PURCHASE]">Add new item</a>
  }
}

<div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
  <netz-return-to-task-or-action-page />
</div>
