<label [for]="identifier" [id]="`l.${identifier}`" class="govuk-label">
  {{ label() }}
</label>
@if (hint()) {
  <div [id]="`${identifier}-hint`" class="govuk-hint" [innerHTML]="hint() | safeHtml"></div>
}
@if (shouldDisplayErrors) {
  <govuk-error-message [errors]="control.errors" [identifier]="identifier" />
}
<button
  type="button"
  class="govuk-input"
  [class.govuk-input--error]="shouldDisplayErrors"
  [class.no-bottom-border]="currentValue().length > 0 && (isOpen | async) === false"
  [attr.aria-expanded]="(isOpen | async) === true"
  aria-live="polite"
  aria-owns="available-options selected-options"
  aria-controls="available-options selected-options"
  (click)="click()"
  [id]="identifier">
  {{ currentValue().length === 0 ? '0 selected' : `${currentValue().length} selected` }}
  <span class="arrow"></span>
</button>

@if (isOpen | async) {
  <div class="options-container options-valid" id="available-options">
    <div class="govuk-checkboxes govuk-checkboxes--small options">
      <ng-content />
    </div>
  </div>
} @else {
  @if (currentValue().length > 0) {
    <div
      class="govuk-body options"
      [class.options-invalid]="shouldDisplayErrors"
      [class.options-valid]="!shouldDisplayErrors"
      id="selected-options">
      @for (value of currentValue(); track value) {
        <span class="selected">
          {{ itemMap[value] }}
        </span>
      }
    </div>
  }
}
