<netz-feedback-banner [preventResetOnNavigation]="true" />
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <netz-page-heading caption="Voyages">{{ wizardMap.title }}</netz-page-heading>
    <p class="govuk-body">
      You can manually add or upload the details for voyages and emissions.
      <br />
      To add another file, select Upload file.
    </p>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="govuk-button-group float-right">
      <a govukLink govukSecondaryButton [routerLink]="['./add', randomUUID(), wizardStep.SELECT_SHIP]">
        Add new voyage
      </a>
      <a govukLink govukSecondaryButton [routerLink]="['../', wizardStep.UPLOAD_VOYAGES]">Upload file</a>
    </div>
  </div>
</div>

@if (editable()) {
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <mrtm-filter-by-ship-and-date-range
        type="voyages"
        [initialFilterState]="$any(this.currentPersistableComponentState()?.activeFilters ?? null)"
        [ships]="shipsWithVoyages()"
        filterByShipLabel="View voyages per ship"
        (filterChanged)="onFilterChanged($event)" />
    </div>
  </div>
}

<h2 class="govuk-heading-m">{{ voyagesListHeader() }}</h2>

<mrtm-voyages-list-summary-template
  [editable]="editable()"
  [data]="filteredVoyages()"
  [emptyTableText]="emptyTableText()"
  [warningMessages]="warningMessages()"
  (deleteItems)="onDelete($event)" />

@if (canContinue()) {
  <button type="button" govukButton netzPendingButton (click)="onContinue()">Continue</button>
}

<div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
  <netz-return-to-task-or-action-page />
</div>
