<mrtm-wizard-step
  [formGroup]="form"
  [heading]="config().header"
  (formSubmit)="onSubmit()"
  submitText="Confirm and complete"
  [hideSubmit]="false"
  [showReturnLink]="true"
  [isTwoThirds]="true">
  @if (allOperatorsInfo(); as allOperatorsInfo) {
    @if (allOperatorsInfo?.autoNotifiedOperators; as autoNotifiedOperators) {
      <div class="govuk-!-margin-bottom-6">
        <h2 class="govuk-heading-m">{{ config().usersHeader }}</h2>
        @for (user of autoNotifiedOperators | keyvalue; track user) {
          <p class="govuk-body">{{ user.key | userInfoResolver: autoNotifiedOperators }}</p>
        }
      </div>
    }

    @if (allOperatorsInfo?.otherOperators; as otherOperatorsInfo) {
      <div class="govuk-!-margin-bottom-6">
        @if ((otherOperatorsInfo | keyvalue)?.length > 0) {
          <div [label]="config()?.otherUsersHeader" labelSize="medium" govuk-checkboxes formControlName="operators">
            @for (user of otherOperatorsInfo | keyvalue; track user) {
              <govuk-checkbox [value]="user.key" [label]="user.key | userInfoResolver: otherOperatorsInfo" />
            }
          </div>
        } @else {
          <h2 class="govuk-heading-m">{{ config()?.otherUsersHeader }}</h2>
          <p class="govuk-body">No additional users exist</p>
        }
      </div>
    }
  }

  @if (externalContacts(); as contacts) {
    <div class="govuk-!-margin-bottom-6">
      @if (contacts.length > 0) {
        <div
          [label]="config()?.externalContactsHeader"
          labelSize="medium"
          govuk-checkboxes
          formControlName="externalContacts">
          @for (contact of contacts; track contact) {
            <govuk-checkbox [value]="contact.id.toString()" [label]="contact.email" />
          }
        </div>
      } @else {
        <h2 class="govuk-heading-m">{{ config()?.externalContactsHeader }}</h2>
        <p class="govuk-body">No external contacts exist</p>
      }
    </div>
  }

  @if (config()?.hasSignatoryField && form.get('signatory')) {
    <div class="govuk-!-margin-bottom-6">
      <div
        [label]="config()?.signatoryHeader"
        labelSize="medium"
        class="govuk-body"
        [options]="assignees()"
        formControlName="signatory"
        govuk-select
        widthClass="govuk-!-width-two-thirds"></div>
    </div>
    <netz-related-documents
      [fileDownloadPrePath]="['../../']"
      [previewDocuments]="previewDocuments"
      [taskId]="requestTaskId"
      [decisionNotification]="form.value" />
    <netz-related-async-documents
      [fileDownloadPrePath]="['../../']"
      [previewDocuments]="previewAsyncDocuments"
      [taskId]="requestTaskId"
      [decisionNotification]="form.value" />
  }
</mrtm-wizard-step>
