<netz-feedback-banner />
<mrtm-xml-error-summary [xmlErrors]="validationErrors()" [formatNestedErrorDetails]="formatValidationErrorDetails" />
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <netz-page-heading [caption]="wizardMap.title">{{ wizardMap.registeredOwners.title }}</netz-page-heading>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="govuk-button-group float-right">
      <a [routerLink]="[wizardStep.REGISTERED_OWNERS_FORM_ADD]" govukButton>Add registered owner</a>
      <a govukLink govukSecondaryButton [routerLink]="['../', wizardStep.UPLOAD_OWNERS]">Upload file</a>
    </div>
  </div>
</div>

@if (!allShipsAssociated()) {
  <govuk-warning-text [assistiveText]="notAllShipsAssociatedMessage" />
}

@if (hasNeedsReviewItems()) {
  <govuk-warning-text
    assistiveText="The highlighted registered owners have been updated due to changes to the list of ships. Review the information for each highlighted registered owner, then select Continue." />
}

<mrtm-mandate-registered-owners-table
  [isEditable]="isEditable()"
  [registeredOwnerItems]="data()"
  (edit)="onEdit($event)"
  (delete)="onDelete($event)" />

@if (isEditable() && data()?.length) {
  <button govukButton type="button" (click)="onSubmit()">Continue</button>
}

<div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
  <netz-return-to-task-or-action-page />
</div>
