@if (vm(); as vm) {
  <netz-page-heading [caption]="vm.followUpReviewDecisionMap.title">Check your answers</netz-page-heading>
  <netz-feedback-banner />
  <mrtm-follow-up-response-regulator-summary-template [followUpResponseDTO]="vm.followUpResponseDTO" />
  <mrtm-follow-up-review-decision-summary-template
    [followUpReviewDecision]="vm.followUpReviewDecisionDTO"
    [isEditable]="vm.isEditable"
    [showHeader]="true"
    [changeLink]="vm.wizardStep.REVIEW_DECISION_QUESTION"
    [queryParams]="{ change: true }" />
  @if (vm.isEditable) {
    <button (click)="onSubmit()" netzPendingButton govukButton type="button">Confirm and complete</button>
  }
  <div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
    <netz-return-to-task-or-action-page />
  </div>
}
