<govuk-table
  [columns]="columns"
  [data]="accounts()"
  (sort)="sort.emit($event)"
  emptyTableText="There are no results to show"
  description="List of accounts">
  <ng-template let-column="column" let-row="row">
    @switch (column.field) {
      @case ('status') {
        <govuk-tag [color]="row.status | operatorAccountsStatusColor">{{ row.status | titlecase }}</govuk-tag>
      }
      @case ('name') {
        <a [routerLink]="[row.id]" govukLink>{{ row[column.field] }}</a>
      }
      @default {
        <span [notProvided]="row[column.field]"></span>
      }
    }
  </ng-template>
</govuk-table>
