<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <govuk-panel title="Task in progress" />
    <p class="govuk-body">
      The task has been completed, and the files to be submitted with your application are being created.
    </p>
    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">
      Once the documents have been generated, the selected users will receive an email notification of your decision.
      The task will be removed from your task dashboard.
    </p>
    <p class="govuk-body">
      If an error occurs while the documents are being generated, the task will remain on your task dashboard to be
      reviewed and submitted again.
    </p>
  </div>
</div>
<div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
  <a govukLink routerLink="/dashboard">Return to: Dashboard</a>
</div>
