@if (data(); as data) {
  <netz-feedback-banner />
  <netz-page-heading caption="{{ wizardMap.totalShipEmissions.caption }} {{ ship()?.details?.name }}">
    {{ wizardMap.totalShipEmissions.title }}
  </netz-page-heading>

  <mrtm-aer-aggregated-data-emissions-calculations-summary-template [data]="totalShipEmissionsData()" />

  <button type="button" govukButton (click)="onSubmit()">Continue</button>

  <div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
    <a govukLink [routerLink]="isAddNewAggregatedData ? ['../../../'] : ['../../']">Return to: {{ wizardMap.title }}</a>
  </div>
}
