<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!--
  <label> must not have tabIndex="-1" because it causes a bug with angular anchorScrolling: 'enabled' by
  preventing focus on the input field after clicking the error message in the error summary component
 -->
<label
  [class.govuk-visually-hidden]="isLabelHidden() || (!templateLabel() && !label())"
  [for]="identifier"
  [id]="`l.${identifier}`"
  class="autocomplete-select__label {{ labelSizeClasses() }}"
  (click)="handleLabelClick($event)">
  @if (!templateLabel()) {
    {{ label() }}
  } @else {
    <ng-content select="[govukLabel]" />
  }
</label>
@if (hint()) {
  <div [id]="`${identifier}-hint`" class="govuk-hint" [innerHTML]="hint() | safeHtml"></div>
}
@if (shouldDisplayErrors) {
  <govuk-error-message [errors]="control.errors" [identifier]="identifier" />
}

<div class="autocomplete-select__wrapper {{ widthClass() }}" tabindex="-1" (keydown)="handleKeyDown($event)">
  @if (typeaheadSuggestion()) {
    <span>
      <input
        [mrtmInputScrollSync]="this.queryInputRef().nativeElement"
        class="govuk-input autocomplete-select__typeahead-suggestion"
        readonly
        tabIndex="-1"
        value="{{ typeaheadSuggestion() }}" />
    </span>
  }
  <input
    #queryInput
    [attr.type]="inputFieldType()"
    role="combobox"
    aria-autocomplete="list"
    [attr.aria-describedby]="hint() ? `${identifier}-hint` : null"
    [attr.aria-expanded]="isMenuOpen() && !!(filteredOptions().length || showNoOptionsFound())"
    [attr.aria-controls]="`${identifier}__listbox`"
    [attr.aria-activedescendant]="
      markedIndex() !== null && markedIndex() >= 0 ? `${identifier}__option--${markedIndex()}` : null
    "
    autocomplete="off"
    [id]="identifier"
    class="govuk-input autocomplete-select__input"
    [class.govuk-input--error]="shouldDisplayErrors"
    [class.autocomplete-select__input--focused]="focusedIndex() !== null"
    [formControl]="queryControl"
    (focus)="handleInputFocus()"
    (blur)="handleInputBlur($event)"
    (input)="handleInputFieldInput()"
    (click)="handleInputClick()" />
  <!--
    Listbox and all elements in the listbox must have tabindex="-1". Without it there is a bug when tabbing between
    form fields. If the list of options is too long and has a vertical scrollbar - pressing tab on the keyboard will
    blur the autocomplete-select input field but it will not focus the next tabbable element.
   -->
  <ul
    #listbox
    [id]="`${identifier}__listbox`"
    role="listbox"
    tabindex="-1"
    class="autocomplete-select__menu"
    [class.autocomplete-select__menu--visible]="isMenuOpen()"
    [class.autocomplete-select__menu--hidden]="!isMenuOpen()"
    [attr.aria-labelledby]="`l.${identifier}`"
    (blur)="handleListboxBlur($event)"
    (mouseleave)="handleListMouseLeave()">
    @for (option of filteredOptions(); track $index) {
      <li
        #option
        [id]="`${identifier}__option--${$index}`"
        class="autocomplete-select__option"
        [class.autocomplete-select__option--odd]="$index % 2"
        [class.autocomplete-select__option--focused]="
          hoveredIndex() === null && (focusedIndex() === -1 ? markedIndex() === $index : focusedIndex() === $index)
        "
        role="option"
        tabindex="-1"
        [attr.aria-posinset]="$index + 1"
        [attr.aria-setsize]="$count"
        [attr.aria-selected]="focusedIndex() === $index"
        (click)="handleOptionClick($index)"
        (blur)="handleOptionBlur($event, $index)"
        (mousedown)="handleOptionMouseDown($event)"
        (mouseenter)="handleOptionMouseEnter($index)">
        {{ option.text }}
      </li>
    } @empty {
      @if (showNoOptionsText()) {
        <li
          class="autocomplete-select__option autocomplete-select__option--no-results"
          role="option"
          tabindex="-1"
          aria-disabled="true"
          aria-selected="false">
          {{ noOptionsFoundText() }}
        </li>
      }
    }
  </ul>
</div>
