<govuk-table
  [columns]="tableColumns()"
  [data]="items()"
  description="Task list"
  mrtmScrollablePane
  [emptyTableText]="emptyTableText()"
  ariaLabel="Task list">
  <ng-template let-column="column" let-row="row">
    @switch (column.field) {
      @case ('taskType') {
        <a [routerLink]="row | itemLink" govukLink netzDebounce>
          {{ row[column.field] | itemName: getYearFromRequestId(row.requestId) }}
        </a>
        @if (row.isNew) {
          <div class="govuk-!-margin-top-2">
            <govuk-tag>New</govuk-tag>
          </div>
        }
      }
      @case ('requestType') {
        {{ row[column.field] | itemType }}
      }
      @case ('taskAssignee') {
        {{ !row[column.field] ? unassignedLabel() : (row[column.field] | userFullName) }}
      }
      @case ('daysRemaining') {
        {{ row[column.field] | daysRemaining: getYearFromRequestId(row.requestId) : row.taskType }}
      }
      @default {
        {{ row[column.field] }}
      }
    }
  </ng-template>
</govuk-table>
