@let type = userType();
<mrtm-wizard-step
  (formSubmit)="handleSubmit()"
  [formGroup]="form"
  caption="Add a new user"
  heading="Enter {{ type | userType }} details">
  @switch (type) {
    @case ('operator_admin') {
      <mrtm-operator-admin-info />
    }
    @case ('operator') {
      <mrtm-operator-user-info />
    }
    @case ('consultant_agent') {
      <mrtm-agent-user-info />
    }
    @case ('emitter_contact') {
      <mrtm-emitter-contact-info />
    }
    @default {
      <!-- The userType route param is untyped; an unrecognised value shows no type-specific info block. -->
    }
  }

  <mrtm-user-account-form
    emailHint="This should be their work email. All system alerts, notices and official communications will always be sent by email." />
</mrtm-wizard-step>
