@if (data(); as data) {
  <netz-feedback-banner />
  <netz-page-heading [caption]="wizardMap.title">Check your answers</netz-page-heading>

  @if (warningMessage(); as warningMessage) {
    <govuk-warning-text [assistiveText]="warningMessage" />
  }

  <mrtm-reduction-claim-summary-template
    header="Emissions reduction claim"
    [wizardStep]="wizardStep"
    [data]="data"
    [editable]="editable()" />
  @if (data.exist) {
    <div>
      <h2 class="govuk-heading-m">{{ wizardMap.smfDetails.title }}</h2>
      <mrtm-reduction-claim-details-summary-template
        [editable]="editable()"
        [data]="fuelPurchases()"
        [dataSupplierName]="thirdPartyDataProviderName()"
        (handleDelete)="onDelete($event)"
        (handleChange)="onChange($event)" />
      @if (editable()) {
        <a govukSecondaryButton [routerLink]="[wizardStep.DETAILS, wizardStep.FUEL_PURCHASE]">Add another item</a>
      }
    </div>
  }

  @if (canSubmit()) {
    <button type="button" govukButton netzPendingButton (click)="onSubmit()">Confirm and continue</button>
  }

  <div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" />
    <netz-return-to-task-or-action-page />
  </div>
}
